/*화면 px을 가로영역 420px 으로 큰틀을 잡았다 => 전체 화면의 가운데 정렬 하는 방법을 변경을 하는 방법 참고 바람*/
.signup_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup_content > div {
    width: 420px;
    height: 100%;
}
.signup_content > div > div {
    width: 100%;
    height: 100%;
}

/*로고 영역*/
.signup_logo_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
    margin-top: 105px;
}

/*디자인적으로 margin값이 필요할때 사용하는 부분 (bottom)*/
.signup_margin_bottom {
    margin-bottom: 64px;
}

/*디자인적으로 margin값이 필요할때 사용하는 부분 (top)*/
.signup_margin_top {
    margin-top: 34px;
}
.signup_margin_top_3 {
    margin-top: 32px;
}

/*에러창이 표시되었을때 배율을 조정하는 부분(bottom)*/
.singup_margin_error{
    margin-bottom: -17px;
}

/*디자인적으로 submit 버튼에 영역을 나누는 부분*/
.signup_submit_area{
    margin-top : 56px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}
