.note_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.note_content > div {
    width: 786px;
    height: 100%;
}
.note_content > div > div {
    width: 100%;
}

.note_writing{
    background-color: #F0F0F0;
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note_title{
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/dog.jpg');
    background-size: 100%;

}

.note_title_text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    color: rgba(11, 8, 8, 0.54);
}

.note_title_info{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100%;
}

.note_title_info > label > span{
    color: #F0F0F0;
    font-size: 14px;
    margin-right: 16px;
}


.note_info{
    display: flex;
    justify-content: flex-end;
}

.note_header_margin{
    margin-top: -20px
}

.note_profileImage_margin{
    margin-bottom: -2px;
}

.note_comments{
    display: flex;
}
.note_comments_user_time{
    margin-left: 7px;
    color: #838383;
    font-size: 14px;
}

.note_comments > div > label{
    display: flex;
    margin-top: 13px;
}

.note_header_profile_img{
    width: 16px;
    height: 15px;
}

.note_comments_reply{
    cursor: pointer;
}
