/*화면 px을 가로영역 420px 으로 큰틀을 잡았다 => signup 페이지와 마찬가지로 화면전체를 가운데 정렬*/
.login_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:77px;
}
.login_content > div {
    width: 420px;
    height: 100%;
}
.login_content > div > div {
    width: 100%;
    height: 100%;
}


/*윗부분 Logo 영역*/
.login_logo_area{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_margin_error{
    margin-bottom: -14px;
}

/*디자인적으로 margin값이 필요할때 사용하는 부분 (bottom)*/
.login_margin_bottom {
    margin-bottom: 68px;
}

.login_margin_top{
    margin-top: 34px;
}


/*로그인에서 password 부분에서는 type이 password부분으로 고정되어있을수 밖에 없다. 그래서 이런식으로 css를 추가하였다.*/
.login_input_hover{
    line-height: 20px;
    width: 420px;
    height: 36px;
    border-bottom: 1px solid var(--color-mid-gray);
    padding-left: 19px;
    box-sizing: border-box;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    border-bottom: 0.5px solid var(--color-mid-gray);
}

.login_input_error{
    line-height: 20px;
    width: 420px;
    height: 36px;
    border-bottom: 1px solid var(--color-mid-gray);
    padding-left: 19px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-warning-red);
    box-sizing: border-box;
}

/*디자인적으로 submit 버튼에 영역을 나누는 부분*/
.login_submit_area{
    margin-top : 90px;
    margin-bottom: 74px;
    padding-bottom: 0;
    width: 100%;
}

/*아래쪽 footer를 가로로 일정하게 영역을 나누는 부분*/
.login_footer_group{
    margin-top: 0;
    padding-top: 0;
    display:flex;
}

.findId_footer_group{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*footer그룹 안에있는 3가지 요소를 외관에 맞게 배치시켜주는 부분*/
.login_footer_submit{
    flex:1;
    background-color: white;
    text-align: start;
}
.login_footer_findID{
    flex:1;
    background-color: white;
}
.login_footer_findPW{
    flex:1;
    background-color: white;
    text-align: end;
}


/* 아이디 찾기 */
.findid_content {
    display: block;
    margin: auto;
    width: 420px;
    margin-top:77px;
}

.findid_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:77px;
}
.findid_content > div {
    width: 420px;
    height: 100%;
}
.findid_content > div > div {
    width: 100%;
    height: 100%;
}


/*윗부분 Logo 영역*/


.findid_margin_bottom {
    margin-bottom: 68px;
}

.findid_margin_top{
    position: relative;
    margin-top: 34px;
}

.findid_submit_area{
    margin-top : 90px;
    margin-bottom: 74px;
    width: 100%;
}


.findid_sendCode{
    left:330px;
    position: absolute;
    border:1px solid #B5B4B5;
    width:93.5px;
    height: 23px;
    font-weight: bold;
    font-size: 12px;
    background-color:#ffffff;
    border-radius: 15px;
}

.findid_footer_group{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: 4A4A4A;
    text-align: center;

}

.findid_footer_group > div >  span{
    color:#ff0000;
}

/* 패스워드 찾기 */

.findpw_content {
    display: block;
    margin-top:71px;
    width: 420px;
}

.findpw_margin_bottom {
    margin-bottom: 68px;
}

.findpw_margin_top{
    margin-top: 34px;
}

.findpw_submit_area{
    margin-top : 90px;
    margin-bottom: 74px;
    width: 100%;
}


.findpw_content > div > div > button > a{
    color:#ffffff;
}

/* 패스워드 찾기 상세 페이지*/

.findpw_detail_content{
    display: block;
    margin-top:71px;
    width: 420px;
}

.findpw_margin_bottom{
    margin-bottom: 68px;
}

.findpw_margin_top{
    position: relative;
    margin-top: 34px;

}

.findpw_sendCode{
    left:330px;
    position: absolute;
    border:1px solid #B5B4B5;
    width:93.5px;
    height: 23px;
    font-size: 12px;
    font-weight: bold;
    background-color:#ffffff;
    border-radius: 15px;
}

.findpw_content > div > div > button > a{
    color:#ffffff;
}

.findpw_detail_confirmcode{
    display: flex;
}

.findpw_detail_confirmcode > div{
    color: #ff0000;
    margin-top:5px;
    font-size: 10px;
}

.findpw_detail_confirmcode > span{
    right: 0px;
    margin-top:6px;
    margin-left: 246px;
}

.findpw_detail_confirmPw > div{
    color:#ff0000;
    margin-top:5px;
    font-size: 10px;
}

.findpw_detail_submit{
    margin-top : 70px;
    margin-bottom: 74px;
    width: 100%;
}



/* 이용약관 페이지 */


.login_main{
    margin-top:104px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.terms_content{
    width: 414px;
    height: 760px;

    border-radius: 10px;
    border: 1px solid #000000;
    padding:0 18px 0 18px;
}

.terms_term{
    font-size: 18px;
    font-weight: bold;
    color:#0000FF;
    text-align: center;

    padding-top:23px;
}

.terms_titles{
    font-size:14px;
    color:#4A4A4A;
    font-weight: bold;
    margin:29px 0 15px 0;
}

.terms_contents{
    border: 0.5px solid #B5B4B5;
    width: 414px;
    height: 110px;
    overflow-y: scroll;

    font-size: 12px;
    font-weight: 400;
}

.terms_check_agreement{
    display: flex;
    justify-content: flex-end;
    margin-top:8px;

}

.terms_check_agreement > div{
    margin-right: 14px;
    color:#B5B4B5;
}

.terms_check_agreement > input{
    margin:5px 4px 0 8px;

}

.terms_warning{
    margin-top:32px;

    text-align: right;
    color:#ff0000;
    font-size: 10px;
}

.terms_foot{
    display: flex;
    font-size:12px;
}

.terms_foot > span{
    margin-top:12px;
    color:#0000FF;
    font-weight: bold;
}

.terms_foot > input{
    margin: 16px 4px 0 14px;
}

.terms_all_agreement{
    margin-top:12px;
}

.terms_submit{
    min-width: 65px !important;
    height: 36px !important;

    margin:4px 0 0 120px;
}
