/*화면 px을 가로영역 420px 으로 큰틀을 잡았다 => signup 페이지와 마찬가지로 화면전체를 가운데 정렬*/
.login_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.login_content > div {
    width: 420px;
    height: 100%;
}
.login_content > div > div {
    width: 100%;
    height: 100%;
}


/*윗부분 Logo 영역*/
.login_logo_size{
    width: 158px;
    height: 92px;
    margin-bottom: 77px;
}
.login_logo_area{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_margin_error{
    margin-bottom: -14px;
}

/*디자인적으로 margin값이 필요할때 사용하는 부분 (bottom)*/
.login_margin_bottom {
    margin-bottom: 68px;
}

.login_margin_top{
    margin-top: 34px;
}


/*로그인에서 password 부분에서는 type이 password부분으로 고정되어있을수 밖에 없다. 그래서 이런식으로 css를 추가하였다.*/
.login_input_hover{
    line-height: 20px;
    width: 420px;
    height: 36px;
    border-bottom: 1px solid var(--color-mid-gray);
    padding-left: 19px;
    box-sizing: border-box;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    border-bottom: 0.5px solid var(--color-mid-gray);
}

.login_input_error{
    line-height: 20px;
    width: 420px;
    height: 36px;
    border-bottom: 1px solid var(--color-mid-gray);
    padding-left: 19px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-warning-red);
    box-sizing: border-box;
}

.login_password{
    -webkit-text-security: disc;
}

/*디자인적으로 submit 버튼에 영역을 나누는 부분*/
.login_submit_area{
    margin-top : 90px;
    margin-bottom: 74px;
    padding-bottom: 0;
    width: 100%;
}

/*아래쪽 footer를 가로로 일정하게 영역을 나누는 부분*/
.login_footer_group{
    margin-top: 0;
    padding-top: 0;
    display:flex;
}


/*footer그룹 안에있는 3가지 요소를 외관에 맞게 배치시켜주는 부분*/
.login_footer_submit{
    flex:1;
    background-color: white;
    text-align: start;
}
.login_footer_findID{
    flex:1;
    background-color: white;
}
.login_footer_findPW {
    flex: 1;
    background-color: white;
    text-align: end;
}
